target
/.vscode


circomlib
node_modules/*
build/*
ptau/*
client/node_modules
client/static/build
circuits/test/**/*.circom
circuits/test/*.circom
circuits/main/*
ir_log/*
log_input_signals.txt
*.bin
ghash_gmul.r1cs
main.r1cs
